fastapi==0.78.0
flasgger==0.9.5
Flask==2.1.2
gevent==21.12.0

### aemet ###
python-aemet==0.3.5
# psycopg2==2.8.5
psycopg2-binary==2.9.3
# 2.9.1
paramiko==2.7.2
zeep==3.4.0
# zeep==4.0.0
arrow==1.1.1

### FaraNetwork ###
pytk==0.0.2.1
Brotli==1.0.9
click==8.1.3
colorama==0.4.4
cx-Oracle==8.3.0
dash==2.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask-Compress==1.12
greenlet==1.1.2
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
mpmath==1.2.1
numpy==1.21.6
pandas==1.3.5
plotly==5.8.0
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
SQLAlchemy==1.4.31
sympy==1.10.1
tenacity==8.0.1
threadpoolctl==3.1.0
typing-extensions==4.2.0
Werkzeug==2.0.0
zipp==3.8.0

geopandas:0.11.0
sentinelsat:1.1.1
rasterio:1.3.0
pygdal==3.0.4.10
rasterstats=0.16.0
osgeo: