# Let's encrypt certificates generated as described in https://pentacent.medium.com/nginx-and-lets-encrypt-with-docker-in-less-than-5-minutes-b4b8a60d3a71

version: '2.2'
services:
  # certbot:
  #   image: certbot/certbot
  #   container_name: 'certbot'
  #   volumes:
  #     - ./certificates/certbot/conf:/etc/letsencrypt
  #     - ./certificates/certbot/www:/var/www/certbot
  #   entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 24h & wait $${!}; done;'"

  nginx:
    image: "nginx:1.19"
    restart: always
    container_name: 'nginx'
    ports:
      - "90:80"
      # - "443:443"
    depends_on:
      # - certbot
      - dataTransformationWS
      # - ws_forecast
    volumes:
      - ./../nginx:/etc/nginx/conf.d/
      # - ./../certificates/certbot/conf:/etc/letsencrypt
      # - ./../certificates/certbot/www:/var/www/certbot
    logging:
      &logging
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - network_DataTransformation
    command: "/bin/sh -c 'while :; do sleep 12h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    # command: "/bin/sh -c 'while :; do sleep 12h; done'"



  dataTransformationWS:
    image: "dockerflask:latest"
    container_name: 'dataTransformationWS'
    restart: always
    ports:
      - "4500:6000"
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://localhost:6000/healthCheck"
        ]
      interval: 1m30s
      timeout: 10s
      retries: 3
    # logging: *logging
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      PYTHONPATHS: '/pythonLibs,/pythonLibs2'
      PYTHONENV: /pythonEnv
      WORKINGFOLDER: /tmp
      DATAPATH: /data
      LOGSPATH: /logs
      LOGLEVEL: DEBUG
      REMOTESYSLOGINFO: 'artemisa.**********.**, 514'
    volumes:
      - ./../:/python
      - /python/.envs/dataTransformationEnv:/pythonEnv/
      - /python/.envs/dataTransformationEnv/lib:/python/.envs/dataTransformationEnv/lib
      - /projects/grapevine/GIT/src/src/main/python/Tools:/pythonLibs/
      - /projects/grapevine/GIT/src/src/main/python/HandlingDataFrames:/pythonLibs2/HandlingDataFrames
      - /projects/grapevine/GIT/src/src/main/python/ForecastAPI:/pythonForecastAPI/
      - /projects/grapevine/GIT/src/src/main/python/CreateModels:/createModels/
      # - /argon/src/main/python/sarga/:/pythonSarga/
      # - /argon/src/main/python/modelos_climaticos/:/pythonModelos_climaticos/
      - /projects/grapevine/GIT/src/src/main/python/climaticDataSiarWinkle:/climaticDataSiarWinkle
      - /projects/grapevine/GIT/src/src/main/python/Copernicus:/copernicus
      - /projects/grapevine/GIT/src/src/main/python/CreateFinalSheet:/createFinalSheet
      - /projects/grapevine/GIT/src/src/main/python/WinklerUnizar:/unizarForecastingGeneration
      - /projects/grapevine/GIT/src/data:/data
      - /projects/grapevine/GIT/src/logs:/logs
      # - ./certificates:/certificates
      # extra_hosts:
      # - "host.docker.internal:host-gateway"
    networks:
      - network_DataTransformation
    # entrypoint: printenv
    entrypoint: /bin/bash -c "$$PYTHONENV/bin/python /python/appDataTransformation.py 6000"
    # command: "/bin/sh -c 'while :; do sleep 12h; done'"

networks:
  network_DataTransformation:
    driver: bridge
